
  <div class="event">
    <div class="content">
      <div class="summary">
         <em ><span style="color: blue;"><%=message.user.username%></span></em>:&nbsp;<%= message.body%>
      
      </div>
    </div>
  </div>
